* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Courier New', Courier, monospace;
  }
body {
    height: 100vh;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #1d1d1d;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

hr {
    border: 0.1px solid rgb(91, 209, 215);
}
  /*MENU ********/
#container{
    max-width: 1000px;
    margin: 0 auto;
}
  #logo{
    margin-top: 10px;
    cursor: pointer;
}
header{
    border-top: 1px solid rgb(91, 209, 215);
    border-bottom: 1px solid rgb(91, 209, 215);
    height:65px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
}
#btn-mobile{
    display: none;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}
header nav{
    height: 100%;
    margin-top:10px;
}
header nav ul {
    display: flex;
}
header nav ul li {
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    color: rgb(91, 209, 215);
    text-transform: uppercase;
    font-size: 16px;
    padding: 24px;
    letter-spacing: 2px;
    font-weight: bold;
}
header nav ul li:after{
    display:block;
    content: '';
    border-bottom: solid 3px rgb(91, 209, 215);  
    transform: scaleX(0);  
    transition: transform 180ms ease-in-out;
}
header nav ul li:hover:after { 
    transform: scaleX(1); 
}
.efeito-vidro {
    box-shadow: 0 3px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 3px );
    background: rgba(91, 209, 215, 0.064);
    z-index: 1;
}

/* MAIN ****/
main {
    display: flex;
    padding-top: 30vh;
    justify-content:space-evenly;
    height: auto;
    padding-bottom: 200px;
}
h1{
    font-size: 60px;
    margin-bottom: 10px;
    color: rgb(91, 209, 215);
    animation: glitch 1s linear infinite;
}
h1:before,
h1:after{
    content: attr(title);
    position: absolute;
    left: 0;
}
h1:before{
    animation: glitchTop 1s infinite;
    clip-path: polygon(0 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 33%, 0 33%)
}
h1::after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}
h3{
    font-size: 25px;
    margin-bottom: 5px;
    color: #5bd1d7;
}
p , 
h2{
    color: #5bd1d7;
}

/*  Inicio *****/

main .info #button{
    display: flex;
    justify-content: start;
    margin-top: 20px;
}
main .info #button button {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 0 10px;
    background-color: #5bd1d7;
    border: 0;
    cursor: pointer;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    transition: 0.1s;
}
main .info #button #linkedin{
    background-image: url(../Imagens-videos/linkedin.png);
}
main .info #button #githubrepositorio{
    background-image: url(../Imagens-videos/logos-habilidades/github-logo.png);
}
main .info #button #instagram{
    background-image: url(../Imagens-videos/instagram.png);
}
main .info #button button:hover{
    background-color: #fff;
    animation: shadow-pop-br-white 0.1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
    border: 0;
}
.cartoon {
    animation: go-back 1.5s infinite alternate;
}

/*SOBRE MIM ****/
main .text {
    width: 400px;
    height:100%;
    font-size: 18px;
    color: #5bd1d7;
}

/*projetoos *****/
#projetos{
    display: block;
    padding-top: 13vh !important;
    padding-bottom: 100px !important;
}
#titulo-projetos{
    width: 295px;
    margin: 0 auto;
}
#todos-projetos{
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    margin: 50px 15px;
}
#todos-projetos section{
    border: 5px solid #5bd1d7;
    border-radius: 10px;
    background-color: rgb(85, 83, 83);
    cursor: pointer;
    width: 20%;
}
#descricao-projetos{
    display: flex;
    flex-direction: column;
}

#todos-projetos section img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#descricao-projetos h2{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.imagens-projetos{
    display: flex;
    align-items: center;
    gap: 15px;
    overflow: hidden;
    cursor: grab;
    border-radius: 10px;
    margin: 0 15px;
}
#pizzaria img,
#flixwag img,
#quiz img,
#financeiro img,
#minhastarefas img{
    width: 400px;
    height: 270px;
    outline: 5px solid #5bd1d7;
    outline-offset: -5px;
    border-radius: 10px;
}

.text-projetos{
    margin: 40px auto;
    max-width: 650px;
}
.text-projetos h4{
    color: #5bd1d7;
    font-size: 20px;
}
.text-projetos p{
    margin: 10px 0;
    font-size: 15px;
    font-weight: 600;
}
.text-projetos a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #5bd1d7;
    transition: 0.2;
    font-size: 16px;
}
.text-projetos a:hover{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}



/*Habilidades*******/
#habilidades {
    padding-top: 16vh !important;
    display: block;
}
#header-habilidade{
    justify-content: center;
    margin: 0px auto;
    display: flex;
}
#todasHabilidades{
    justify-content: space-evenly;
    display: flex;
    padding: 5px;
}
.habilidade{
    border: 3px solid #5bd1d7;
    background-color: rgb(85, 83, 83);
    width: 100px;
    height: 100px;
    padding-top: 10px;
    text-align: center;
    margin: 6px;
    color: #fff;
    border-radius: 20px;
    opacity: 0.4;
    transition: opacity 0.2s;
    cursor: pointer;
}


/*transaçao de habilidades ****/


.habilidade-block-animate{
    opacity: 1.0;
    animation: shadow-pop-br 0.1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
}
#acao{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    color: #fff;
    width: 100%;
    padding: 5px;
}
#descricao-hab{
    text-align: center;
    margin-top: 20px;
    max-width: 400px;
}
#text-hab{
    padding-top: 90px;
    text-align: center;
}
.none{
    display: none;
}

.animation {
    animation: tracking-out-contract 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.2s reverse both;
} 


#html-hab , 
#css ,
#js ,
#react ,
#git ,
#github {
    width: 80%;
    margin: 0 auto;
}

/*rodape ****/
footer{
    color:#5bd1d7;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#mobiletext{
    display: none;
}
#desktoptext {
    display: block;
}



